
div .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
div .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
div .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
div .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
div .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
div .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
div .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
div .stars label:hover ~ span {
  background-position: 0 -30px;
}
div .stars label.star-5:hover ~ span {
  width: 100% !important;
}
div .stars label.star-4:hover ~ span {
  width: 80% !important;
}
div .stars label.star-3:hover ~ span {
  width: 60% !important;
}
div .stars label.star-2:hover ~ span {
  width: 40% !important;
}
div .stars label.star-1:hover ~ span {
  width: 20% !important;
}
